ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    font-family: arial, sans-serif;
    font-size: 13px;
}

li a {
    display: block;
    padding: 14px;
    text-decoration: none;
    color: #666;
}


#logo {
    position: relative;
    margin-top: 50px;
    text-align: center;

}

#search {
    position: relative;
    text-align: center;
    margin-top: 10px;

}

.button {
    font-size: 13px;
    font-weight: bold;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-family: arial, sans-serif;
    border-radius: 2px;
    color: #757575;
    height: 30px;
    width: 150px;
    
}

#foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
}

.footer {
    float:left;
}

